nav{
    position: fixed;
    height: 100%;

}
#fixed-b{
    position: fixed;
}
pre{
    background: rgb(180, 177, 177);
    padding-top: 15px;
}
li{
    list-style-type: none;
}
nav{
    height: 100%;
}