@font-face{
    font-family: bubble;
    src: url("Bubblegum.ttf");
}

#video{
    width: auto;
}
#header{
    background-color: black;
}
#header-img{
    min-width: 100px;
    max-width: 160px;
}
#video{
    width: 70vh;
    height: 39vh;
}
a{
    font-family:bubble;
    font-size: 23px;
}
#email{
    align-self: center;

    width: 100%;
    max-width: 250px;
}
#submit{
    align-self: center;

    width: 100%;
    max-width: 150px;
}
.bar-black{
    background-color: black;
    
    
}

@media(max-width:760px){
    #video{
        width: auto;
        height: auto;
    }
    #header-img{
        display: block;
        
        margin-left: 77px;
        
    }
}